.status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 20px 20px 0 10px;
}

.online {
  background-color: #008000;
}

.offline {
  background-color: #ff0000;
}

.friend-list {
  padding: 0;
  width: 250px;
  margin: 0 auto;
  list-style: none;
}

.item {
  height: 50px;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(109, 106, 106);
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.avatar {
  border-radius: 10px;
}

.name {
  font-family: "Roboto";
  padding-left: 20px;
  font-weight: 500;
}
