.transaction-history {
  width: 500px;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 1px rgb(109, 106, 106);
}

.element {
  height: 50px;
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titles {
  background-color: rgb(56, 202, 247);
  height: 60px;
  font-family: "Roboto";
}

.type,
.amount,
.currency {
  font-size: 17px;
  font-weight: 400;
  font-family: "Roboto";
}
